.sliderjs {
  width: 100%;
  height: 17px;
  background: white;
  cursor: pointer;
  @include border-radius(5px);
}

.slider__block--value {
  height: 17px;
  background: #74cc45;
  transition: 0.3s;
  @include border-radius(5px);
  &.slider__block__value--php {
    background: #fcc95c;
  }
}

.slider__block .slider__labels {
  width: 100%;
  color: #444444;
  font-size: 11px;
  font-weight: bold;
  margin-top: 15px;
}

.slider__block .slider__labels label {
  line-height: 19px;
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
  &.level_0 {
    width: 158px;
  }
  &.level_1 {
    width: 220px;
  }
  &.level_2 {
    width: 180px;
    text-align: center;
  }
  &.level_3 {
    width: 222px;
    text-align: right;
  }
}